language: python
python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.8"

install:
  - pip install -r requirements_test.txt
  - pip install codecov

script:
  - make styles_check
  - pytest

after_success:
  - codecov
