language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

install:
  - pip install -r requirements_test.txt
  - pip install codecov

script:
  - make styles_check
  - make test

after_success:
  - codecov
